extend layout

block custom_header
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/ansi.css')
  script(src='/socket.io/socket.io.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(src='/javascripts/jqconsole.js')
  script(src='/javascripts/console.js')

block content
  h1 = console
  div#console

